<div class="jumbotron">
  <h1>New Module Quiz</h1>
  <p><a class="btn btn-lg btn-success" ng-href="#/">Splendid! <span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">
  <h2>Instructions</h2>
  <ul>
    <li>Create and include a script file named <code>legoBricks.js</code> for your new module</li>
    <li>Create a module named <code>legoBricks</code></li>
    <li>Add the <code>legoBricks</code> module as a dependency to the <code>newModuleQuizApp</code> module</li>
  </ul>
</div>
